@font-face {
    font-family: Burbank;
    src: url(./BurbankBigCondensed-Black.otf);
  }
  @font-face {
      font-family: Minecraft;
      src: url(https://fonts.cdnfonts.com/s/36662/MinecraftTen-VGORe.woff);
  }
body{
    background: #003F00;
    margin: 20px;
}
#menu{
    background: #003D74;
}
.but{
    font-family: Minecraft;
    font-size: 40px;
    border-color: #910e33;
    background-color: #6C0A25;
    color: #fff;
    margin-bottom: 20px;
}