@font-face {
    font-family: Fortnite;
    src: url(./BurbankBigCondensed-Black.otf);
}

@font-face {
    font-family: Minecraft;
    src: url(https://fonts.cdnfonts.com/s/36662/MinecraftTen-VGORe.woff);
}

body {
    background: #141417;
    margin: 20px;
}

#menu {
    background: #1a2431;
}

.but {
    font-family: Fortnite;
    font-size: 40px;
    border-color: #5e1821;
    background-color: #ab2c3c;
    color: #fff;
    margin-bottom: 20px;
}